*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Edu NSW ACT Foundation', cursive;
}
/* when in/out zoom it deforms */
body{ 
    background-color: #e1f4e9;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   text-align: center;
}
/* using this for not deforming */
h1{
    text-align: center;
    font-size: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.img{
    text-align: center;
    height: 650px;
    border: 2px salmon;
}

hr{
    border: 4px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.container{
    height: 300px;
    position: relative;
}

.frst-macro{
    position: absolute;
    top: 10%;
    left: 30%;
}

.scnd-macro{
    position: absolute;
    top: 10%;
    left: 42%;
}

.thrd-macro{
    position: absolute;
    top: 10%;
    left: 58%;
}

#text{
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.div-pht{
    position: relative;
    height: 500px;

}

.pht{
    position: relative;

    height: 400px;
}

.pht-contain{
    height: 400px;
    width: 400px;
}

/* on mobile screen not compatible */
/* *solved* need vh and vw */